html, body{
    height:100vh;
}



nav{
    background: #e4003b;
    height: 78px;

}

.navbar-brand>img{
    width: 150px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #e1e1e1;
    font-weight: bold !important;
    transition: top ease 0.2s;
    position: relative;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link:hover{
    top: -2px;
    color: #ffffff;
}

button.create-event{
    transition: top ease 0.2s;
    position: relative;
    top: 0;
}

button.create-event:hover{
    top: -2px;
}








section.content-section{
    padding: 3rem 0;
}


footer{
    color: #ffffff;
    background: #494949;
    padding: 3rem 0 2rem;
}

.footer-logo{
    width: 150px;
    margin-bottom: 1.2rem;
}

footer ul{
    margin-top: 3rem;
    display: block;
    list-style-type: none;
    list-style:none;
    float: right;
}

footer ul>li{
    margin-right: 1rem;
    float: left;
    padding: 1rem 0 ;
    transition: top ease 0.2s;
    position: relative;
    top: 0;
}

footer ul>li:hover{
    top: -2px;
}


footer ul>li>a.footer-link{
    color: #ffffff;
    text-decoration: none;
}

footer ul>li>a.footer-link:hover{
    color: #e4003b;
}
