html, body{

}

nav{
    background: #e4003b;
    height: 78px;

}

.navbar-brand>img{
    width: 150px;
}

footer{
    color: #ffffff;
    background: #494949;
    padding: 3rem 0 2rem;
}

.footer-logo{
    width: 150px;
    margin-bottom: 1.2rem;
}

footer ul{
    margin-top: 3rem;
    display: inline-block;
    list-style-type: none;
    list-style:none;
    float: right;
}

footer ul>li{
    margin-right: 1rem;
    float: left;
}